<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/styles.css")}}'  type ="text/css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  </head>


<!-- https://getbootstrap.com/docs/5.0/components/navbar/ nav bar location-->
<nav id="nav_bar_id" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Identifier">Identifier</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Plant Index">Plant Index</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock %}