{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1"> <!--Viewport is used to make the page responsive-->
    <title>Survival Plants Index</title>
    <link rel="stylesheet" href='{{ url_for("static", filename="css/styles.css")}}'  type ="text/css">
</head>
<body>

    <header class="header">
        <a href="/">Home</a>
        <a href="Identifier">Identifier</a>
    </header>


</body>
</html>

{% endblock %}